{% extends 'layout.html' %}

{% block body %}
  <h1>Form Add Cinema Details</h1>
 <form action="/add_cinema_details" method=post>
     <dl>
         <dt>Cinema Name :
         <dd><input type=text name="cinema_name" required/>
         <dt>Address :
         <dd><input type=text name="cinema_address" required/>
     </dl>
<p><input type=submit value=Submit>
  </form>

<br/>
<table border="1">
    <thead><td>Cinema Name</td><td>Address</td><td>Action</td></thead>
{% for item in data %}
<tr>
    <td>{{item[1]}}</td><td>{{item[2]}}</td><td><a href="/update_cinema_details/{{item[0]}}">Update</a></td><td><a href="/delete_cinema/{{item[0]}}">Delete</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}